<h1>Home Page</h1>
<br>
<p>These are links to all of the possible pages:</p>
<ul> 
	<li> <%= link_to "All Reports", reports_path %> </li>
	<li> <%= link_to "Map", static_pages_map_path %> </li>
	<li> <%= link_to "Feed", comments_path %> </li>
</ul>

